:root {
  --primary-color: rgb(0, 132, 255);
  --secondary-color: rgb(0, 162, 255);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
footer {
  background-color: var(--primary-color);
  color: white;
}

.produto-item {
  color: rgb(226, 1, 1);
  font-weight: bold;
}
.produto-nome {
  text-transform: capitalize;
  font-weight: 500;
}
td:nth-child(1) {
  width: 250px;
}
td:nth-child(4),
td:nth-child(5) {
  width: 200px;
}
